// Colors

$main-text-color: #ffffff;
$placeholder-txt-color: #939393;
$accent-txt-color: #dc56c5;
$copyright-txt-color: #939393;
$modal-accent-color: #4c00fe;

// Text-style

$main-font: 'Montserrat', sans-serif;

// Gallery

$border-color: rgba(220, 86, 197, 0.3);
