// Colors

$main-text-color: #ffffff;
$placeholder-txt-color: #939393;
$accent-txt-color: #dc56c5;
$copyright-txt-color: #939393;
$modal-accent-color: #4c00fe;
$section-bckg-color: #0e0e0e;
$animation-color-first: #f5f257;
$animation-color-second: #5abdf7;

// Text-style

$main-font: 'Montserrat', sans-serif;

// Gallery

$border-color: rgba(220, 86, 197, 0.3);

// Animatiom
$anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
