<div class="burger-container burger-container-is-hidden">
  <!-- <button class="burger__btn-log burger__btn" data-logform-open>Log in</button> -->
  <!-- <button class="burger__btn-sign burger__btn" data-signform-open>
    Sign up
  </button> -->
  <button
    class="burger__btn-fav burger__btn"
    type="button"
    data-open-modal-favorites
  >
    <svg class="burger__btn-fav-icon" width="20" height="20">
      <use href="./images/icons/icons.svg#icon-ticket-form"></use></svg
    >Your tickets
  </button>
</div>
