<header class="bg-header">
  <section class="header">
    <a class="logo-container" href="/src/index.html"
      ><img class="logo" src="/src/images/logo.svg" alt=""
    /></a>

    <div class="container">
      <div class="header-container">
        <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>

        <form class="header__form" action="">
          <label class="header__serch">
            <input
              class="header__input"
              type="text"
              placeholder="Start searching"
              data-input-search
            />
            <svg class="header__icon-search" width="12" height="12">
              <use href="/src/images/icons/icons.svg#icon-search"></use>
            </svg>
          </label>
          <label class="header__country">
            <input
              class="header__input"
              type="text"
              placeholder="Choose country"
              list="countries"
            />
            <button class="header__btn-country">
              <!-- <svg class="header__icon-country" width="12" height="12">
                <use href="/src/images/icons/icons.svg#icon-triangel"></use>
              </svg> -->
            </button>
            <datalist id="countries"></datalist>
          </label>
        </form>
      </div>
    </div>

    <div class="header__auth-btns">
      <button class="header__btn-log header__btn" data-logform-open>
        Log in
      </button>
      <button class="header__btn-sign header__btn" data-signform-open>
        Sign up
      </button>
      <button class="header__btn-fav header__btn">
        <svg class="header__btn-fav-icon" width="25" height="25">
          <use href="./images/icons/icons.svg#icon-ticket-form"></use>
        </svg>
      </button>
    </div>
  </section>
</header>
