<header>
  <section class="header">
    <div class="logo-container">
      <img class="logo" src="/src/images/logo.svg" alt="" />
    </div>
    <div class="container">
      <div class="header-container">
        <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        <form class="header__form" action="">
          <input
            class="header__input"
            type="text"
            placeholder="Start searching"
          />
          <input
            class="header__input"
            type="text"
            placeholder="Choose country"
          />
        </form>
      </div>
    </div>
  </section>
</header>
<script src="./js/logic-searchQuery.js" type="module"></script>
