<div class="backdrop is-hidden" data-logform>
  <div class="logform">
    <button class="modal-btn__close" data-logform-close>
      <svg class="modal-btn__close-icon" width="25" height="25">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form name="logform__form" autocomplete="on" novalidate>
      <label>
        Email
        <input type="email" name="email" />
      </label>

      <label>
        Password
        <input type="password" name="password" />
      </label>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
