<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn__close" data-modal-close>
      <svg class="modal-btn__close-icon" width="25" height="25">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img class="modal__img-s" alt="" width="132" />
    <img class="modal__img-l" alt="" width="427" />
    <div class="modal__float">
      <!-- <div class="modal__text-block">
        <h3 class="modal__title">Info</h3>
        <p class="modal__text"></p>
      </div> -->
      <!-- <div class="modal__text-block">
        <h3 class="modal__title">When</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__text-block">
        <h3 class="modal__title">Where</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__text-block">
        <h3 class="modal__title">Who</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__prices-block">
        <h3 class="modal__title">Prices</h3>
        <ul class="modal__prices">
          <li class="modal__thumb-item">
            <p class="modal__text">
              <span class="modal__prices-icon"
                ><svg width="29" height="19">
                  <use href="./images/icons/icons.svg#icon-ticket"></use></svg
              ></span>
            </p>-->
            <!-- <a class="modal__btn modal__link-buy">Buy ticket</a> -->
          <!-- </li>
        </ul>
      </div>
    
              <li class="modal__thumb-item">
            <p class="modal__text">
              <span class="modal__prices-icon">${ticketIcon}</span> 
              ${wholeInfo.priceRanges[0].type} ${wholeInfo.priceRanges[0].min}-${wholeInfo.priceRanges[0].max} ${wholeInfo.priceRanges[0].currency}
            </p>
            <a class="modal__btn modal__link-buy">Buy ticket</a>
            </li>-->
      </div>
    <button class="modal__btn modal__btn-more">More from this author</button>
    </div>
  </div>
</div>
