<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn__close" data-modal-close>
      <svg class="modal-btn__close-icon" width="25" height="25">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img class="modal__img-s" alt="" width="132" />
    <img class="modal__img-l" alt="" width="427" />
    <div class="modal__float">
    </div>
    <div class="modal__btns-block">
    <button class="modal__btn modal__btn-more">More from this author</button>
    <button class="modal-btn__fav modal__btn" data-modal-favorites-add>Add to favorites
      <svg class="modal-btn__fav-icon" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-star"></use>
      </svg>
    </button>
    </div>
  </div>
</div>
