<div class="backdrop is-hidden" data-modal-favorites>
  <div class="modal-favorites">
    <button class="modal-btn__close" data-modal-favorites-close>
      <svg class="modal-btn__close-icon" width="25" height="25">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-favorites__title">MY FAVORITES EVENTS</h2>
    <div class="modal-favorites__info">
      <ul class="modal-favorites__info-events">
        <li class="modal-favorites__info-events-elem"><div class="modal-favorites__info-events-img"></div></li>
        <li class="modal-favorites__info-events-elem">Name</li>
        <li class="modal-favorites__info-events-elem">Country</li>
        <li class="modal-favorites__info-events-elem">City</li>
        <li class="modal-favorites__info-events-elem" data-basket-price>Data</li>
        <li class="modal-favorites__info-events-elem"><a class="" href="/src/index.html">BUY TICKET</a></li>
      </ul>
      <ul class="modal-favorites__info-events">
        <li class="modal-favorites__info-events-elem"><div class="modal-favorites__info-events-img"></div></li>
        <li class="modal-favorites__info-events-elem">Name</li>
        <li class="modal-favorites__info-events-elem">Country</li>
        <li class="modal-favorites__info-events-elem">City</li>
        <li class="modal-favorites__info-events-elem" data-basket-price>Data</li>
        <li class="modal-favorites__info-events-elem"><a class="" href="/src/index.html">BUY TICKET</a></li>
      </ul>
      
    </div>
    
    </div>
  </div>
</div>
