.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
  transform: translate(50% -50%) scale(0.1);
  transition: opacity $anim;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(1.5px);


  z-index: 10;

  overflow-y: auto;
  scroll-behavior: smooth;

}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  @media screen and (max-width: 767px) {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 80px;
    padding-bottom: 100px;
    min-width: 280px;
    min-height: 952px;
    text-align: center;
    border-radius: 150px 0px;
    transform: translate(-50%, -39%) scale(1);
  }

  @media screen and (min-width: 768px) {
    padding-left: 87px;
    padding-right: 50px;
    padding-top: 32px;
    padding-bottom: 48px;
    width: 704px;
    min-height: 780px;
    transform: translate(-50%, -46%) scale(1);
  }

  @media screen and (min-width: 1280px) {
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 47px;
    padding-bottom: 60px;
    width: 1034px;
    min-height: 918px;
    transform: translate(-50%, -40%) scale(1);
  }

  background-color: #fff2fd;
  border-radius: 300px 0px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity $anim;

  .is-hidden & {
    opacity: 0;
    transform: translate(-40%, -40%) scale(0.1);
  }
  z-index: 20;
}

.modal-btn__close {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 25px;
    height: 25px;
  }

  @media screen and (min-width: 768px) {
    width: 17px;
    height: 17px;
  }

  @media screen and (min-width: 1280px) {
    top: 32px;
    right: 32px;
  }

  cursor: pointer;
  background-color: transparent;
  color: $modal-accent-color;
  border: none;

  transition: color $anim;

  &:hover,
  &:focus {
    color: $accent-txt-color;
  }
}

.modal-btn__close-icon {
  fill: currentColor;
}

.modal__img-s {
  object-fit: cover;

  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;
  background-color: $modal-accent-color;

  margin-bottom: 20px;
  width: 102px;
  height: 102px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
  }
}

.modal__img-l {
  object-fit: cover;

  float: left;
  margin-right: 32px;
  background-color: $modal-accent-color;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 250px;
    height: 218px;
  }

  @media screen and (min-width: 1280px) {
    width: 427px;
    height: 326px;
  }
}

.modal__text-three {
  @media screen and (min-width: 1280px) {
    min-height: 344px;

    & .modal__text {
      line-height: 1.4;
    }
  }
}

.modal__text-two {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
      min-height: 234px;

      & .modal__text {
        line-height: 1.6;
      }
  }
}

.modal__text-block {
  margin-bottom: 16px;
}

.modal__title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: $accent-txt-color;

  @media screen and (min-width: 1280px) {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 1.2;
  }
}

.modal__text {
  font-size: 16px;
  line-height: 1.25;

  color: #0e0e0e;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal__info {
  max-height: 100px;
  overflow: auto;
  @media screen and (min-width: 1280px) {
    max-height: 90px;
  }
}

.modal__prices {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 60;
    flex-wrap: wrap;
  }
}

.modal__thumb-item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
}

.modal__prices-block {
  margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 4px;
  }
}

.modal__prices-icon {
  display: block;
  margin-right: 13px;

  width: 24px;
  height: 16px;

  @media screen and (min-width: 1280px) {
    width: 29px;
    height: 19px;
  }
}

.text-flex {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.modal__btn {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.modal__link-buy {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 9px 19px 11px;
  text-decoration: none;
  color: $main-text-color;
  background-color: $modal-accent-color;
  border: none;
  transition: border-color $anim;

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }

  &:hover,
  &:focus {
    background-color: #2e009a;
  }
}

.modal__btns-block {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.modal__btn-more {
  display: block;
  padding: 10px 15px;
  color: $modal-accent-color;
  background-color: transparent;
  border: 1px solid $modal-accent-color;

  @media screen and (max-width: 767px) {
    padding: 10px 3px;
  }

  @media screen and (max-width: 1279px) {
    margin: 0 auto;
  }

  transition: border-color $anim;

  &:hover,
  &:focus {
    border-color: $accent-txt-color;
  }
}

.modal-btn__fav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: $modal-accent-color;
  background-color: transparent;
  border: 1px solid $modal-accent-color;

  @media screen and (max-width: 1279px) {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  transition: border-color $anim;

  &:hover,
  &:focus {
    border-color: $accent-txt-color;
  }
}

.modal-btn__fav-icon {
  margin-left: 8px;
  fill: $accent-txt-color;
}